{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<h2>Statistics</h2>
<p> <!-- Moviesvoom is an ----- website which provides its customers proposed system is a fully functional system that takes care of all aspects related to movies on-site. It allows users to book their choice movie at his suitable time and without standing in any queue the user can easily book his ticket. 
 The system is designed to be used by anyone with a basic understanding of English and no other training at all.-->
 <img src="https://uditagarwals3.s3.ap-south-1.amazonaws.com/prediction.jpg" >
</p>
{% endblock %}